*{box-sizing: border-box;}
html{
  scroll-behavior: smooth;
}
:root{
  --primaryColor: #009688;
  --primaryLight: #52c7b8;
  --primaryDark: #00675b;
}
/* title */
.title{
  color: var(--primaryDark);
  text-align: center;
  font-size: 4em;
  text-shadow: 2px 2px 5px var(--primaryColor);
}
/* navigation tabs */
.navigation a{
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 1em 0px;
  background-color: var(--primaryColor);
  text-decoration: none;
  color: var(--primaryLight);
  font-size: 1.2em;
}
.navigation a:hover{
  background-color: var(--primaryLight);
  color: var(--primaryDark);
  text-decoration: underline;
}
/* -- cards --*/
.cardsContainer{
  display: inline-block;
}
.card{
  background-color: var(--primaryColor);
  text-shadow: 2px 2px 5px var(--primaryDark);
  width: 20%;
  margin: 2%;
  float: left;
}
.imgCard{
  width: 100%;
}
.titleCard{
  text-align: center;
}
.pCard{
  padding: 0.5em;
}
.creditCard{
  padding: 0.5em;
  font-size: 0.7em;
  font-style: italic;
}
.footerInfo{
  text-align: center;
  margin-top: ridge 1px var(--primaryDark);
  background-color: var(--primaryLight);
  padding: 1em 0em;
}
/* -- Large resolution --*/
@media only screen and (max-width: 1350px) {
  .pCard{
    height: 15em;
  }
}
@media only screen and (max-width: 1140px) {
  .card{
    width: 40%;
    margin-left: 6%;
  }
  .pCard{
    height: 14em;
  }
}
/* --- medium resolution mini tablet --*/
@media only screen and (max-width: 850px) {
  .navigation a{
    width: 32%;
  }
  .pCard{
    height: 14em;
  }
}
/* -- small resolution : large smartphone --*/
@media only screen and (max-width: 700px) {
  .navigation a{
    width: 100%;
    margin-bottom: 1px;
  }
  .card{
    width: 80%;
    margin-left: 10%;
  }
}
/* -- small resolution: small smartphone --*/
@media only screen and (max-width: 500px) {
  .title{
    font-size: 3em;
  }
}
